@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
#root{
  height: 100vh;
}
.App{
  height: 100%;
}
ul {
  list-style: none;
}
button,
i {
  cursor: pointer;
}

button {
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
  background-color: $primary;
  border: none;
  color: white;
}
