#budget-card {
  @extend .flex-col-space-between;
  gap: 1rem;
  box-shadow: 1px 1px 5px $box-shadow;
  padding: 1rem 0.7rem;
  width: 350px;
  align-self: center;
  border-radius: 7px;

  .budget {
    @extend .flex-row-space-between;
    gap: 1rem;
  }

  h2{color: #000000b4; span{ color: rgb(0, 143, 0);}}

  .actions {
    @extend .flex-row-space-between;
    gap: 1rem;
  }
  .options {
    @extend .flex-row-center;
    gap: 0.5rem;
    color: #000000d3;
  }

  .fcol {
    @extend .flex-col-space-between;
    h4{
        color: #000000b4;
    }
    &:last-of-type {
      p {
        color: $primary;
      }
    }
    &:first-of-type {
      p {
        color: rgb(255, 25, 25);
      }
      padding-inline-end: 1.2rem;
      border-right: 1px solid #00000041;
    }
  }
}
