form {
  padding: 0.8rem 1rem;
  .input {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
  }
  input {
    border: none;
    outline: none;
    &:-webkit-autofill {
      -webkit-background-clip: text;
    }
  }
  label {
    width: 100%;
    color: #000000b4;
  }
}
